@use '@/app/mixins.scss';

.Transactions {
  height: 100%;
  width: max-content;

  padding: 3rem;
  outline: 1px solid rgba(0, 255, 255, 0.59);
  border-radius: 1rem;
  background-color: #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  > button {
    @include mixins.btn;
  }

  .Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &_Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    > div {
      display: flex;
      justify-content: flex-end;
      gap: 2rem;

      > span {
        font-size: 20px;
        font-weight: bold;
      }

      > input {
        border: 1px #171717 solid;
        border-radius: 0.5rem;
      }
    }
  }
}